<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
    <li>
      <p>Name:<%= student.name %></p>
      <p>Password:<%= student.password %></p>
      <button id="<%= student.id %>" onclick="onDetails()">Detail</button>
      <button id="<%= student.id %>" onclick="onStudentDelete()">
        Delete Student
      </button>
    </li>
    <% }) %>
  </ul>
  <!--  -->
  <h2>Tasks</h2>
  <ul>
    <% tasks.forEach(task => { %>
    <li>
      <p><%= task.name %></p>
      <p><%= task.completed %></p>
    </li>
    <% }) %>
  </ul>

  <script>
    //student delete function
    function onStudentDelete() {
      console.log("Hi ss");

      //get id- from button click
      let id = event.srcElement.id;
      console.log(id);
      //
      fetch(`/students/delete?studentId=${id}`, { method: "Delete" }).then(
        (response) => {
          console.log(id, "from fetch");

          //reload page

          window.location.reload();
        }
      );
    }
    //function for student details page
    function onDetails() {
      let id = event.srcElement.id;

      fetch(`students/single/${id}`, { method: "GET" }).then((response) => {
        console.log(id);

        //redirect
        window.location.href = `${window.location.href}/single/${id}`;
        // console.log(`${window.location.href}single/${id}`);
        return;
      });
    }
  </script>
</body>
