<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
    <li>
      <p>Name:<%= student.name %></p>
      <p>Password:<%= student.password %></p>
      <button id="<%= student.id %>" onclick="onDetails()">Detail</button>
    </li>
    <% }) %>
  </ul>
  <!--  -->
  <h2>Tasks</h2>
  <ul>
    <% tasks.forEach(task => { %>
    <li>
      <p><%= task.name %></p>
      <p><%= task.completed %></p>
    </li>
    <% }) %>
  </ul>

  <script>
    function onDetails() {
      let id = event.srcElement.id;

      fetch(`students/single/${id}`, { method: "GET" }).then((response) => {
        console.log(id);

        //redirect
        window.location.href = `${window.location.href}/single/${id}`;
        // console.log(`${window.location.href}single/${id}`);
        return;
      });
    }
  </script>
</body>
